.source_list_table{
    width:40rem;
    margin:auto;
    border-spacing: 0;
    border: 1px solid black;
}

.source_list_header{
    font-size: 1.5rem;
}

.join_group_header{
    font-size: 1.5rem;
}
.join_group_data{
    font-family:Arial, Helvetica, sans-serif;
    font-size:1.2rem;
}
.source_list_data{
    font-family:Arial, Helvetica, sans-serif;
    font-size:1.2rem;
 
}
tr:nth-child(2n+1){
    background-color: #f1f1f1;
}


.join_group_link{
    margin:auto;
    border: 1px solid transparent;
    background-color:#0a657e;
    height:5rem;
    padding: 0.2rem 0.6rem;
    border-radius: 5px;
    text-decoration: none;
    color:white;
    font-size:1.2rem;
}
.view_source_link{
    margin:auto;
    margin-bottom: 5px;
    border: 1px solid transparent;
    background-color:#0a657e;
    width: fit-content;
    height:fit-content;
    display: block;
    padding: 0.2rem 0.4rem;
    border-radius: 5px;
    text-decoration: none;
    color:white;
    font-size:1.2rem;
}

.accept_source_link{
    margin:auto;
    margin-bottom: 5px;
    border: 1px solid transparent;
    background-color:#0a657e;
    width: fit-content;
    height:fit-content;
    display: inline-block;
    padding: 0.2rem 0.4rem;
    border-radius: 5px;
    text-decoration: none;
    color:white;
    font-size:1.2rem;
}
.delete_source_link{
    background-color: rgb(110, 5, 5);
}
.edit_source_link{
    background-color: rgb(8, 92, 57);
}

@media only screen and (max-width: 1250px) {

    .source_list_table{
        width:29rem;
        margin:auto;
}
th{
    height: 50px;
}
tbody td{
    height: 45px;
}

.join_group_header{
    font-size:1rem;

}
.source_list_header{
    font-size:1rem;

}
.source_group_header{
    font-size:1.1rem;

}
.join_group_data{
    
    font-size:0.9rem;
}
.source_list_data{
    
    font-size:1rem;
}
.join_group_link{
    margin:auto;
    height:3.8rem;
    padding: 0.2rem 0.1rem;
    font-size:0.8rem;
}

.view_source_link{
    height:fit-content;
    padding: 0.2rem 0.3rem;
    font-size:0.9rem;
}

.accept_source_link{
    height:fit-content;
    padding: 0.2rem 0.1rem;
    font-size:0.9rem;
}

}

@media only screen and (max-width: 900px){
    .join_group_table{
        width:100%;
        margin:10px auto;
}
.source_list_table{
    width: 100%;
}
th{
    height: 40px;
}
tbody td{
    height: 38px;
}
.join_group_header{
    font-size:0.8rem;

}
.source_list_header{
    font-size:0.9rem;

}
.join_group_data{
    
    font-size:0.6rem;
}
.source_list_data{
    
    font-size:0.8rem;
}
.join_group_link{
    margin:auto;
    height:2.5rem;
    padding: 0.3rem 0rem;
    font-size:0.6rem;
}
.view_source_link{
    height:fit-content;
    padding: 0.3rem 0.1rem;
    font-size:0.8rem;
    text-align: center;
}

.accept_source_link{
    
        height:fit-content;
        padding: 0.3rem 0.1rem;
        font-size:0.9rem;
    }


}