.main-header {
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  position: static;
  margin-bottom:0rem;
  background:  #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.26);
  padding: 0 1rem;
  z-index: 5;
 
}

main {
  margin-top: 0rem;
}

@media (min-width: 768px) {
  .main-header {
    justify-content: space-between;
    margin-bottom: 1.5rem;
  }
  main{
    margin-top:3rem;
  }
}