.coin-container {
    display: flex;
    justify-content: center;
  }
  
  .coin-row {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid silver;
   
  }

  .coin-text {
    font-family: montserrat;
    color:#5271ff;
    letter-spacing: 1px;
    font-size: 25px;
    margin: 0.5rem;
}
  
  .coin { 
    display: flex;
    align-items: center;
    padding-right: 24px;
  
   width: 300px;
  }
  
  .coin h1 {
    font-family: montserrat;
    color:rgb(99, 99, 99);
    font-size: 16px;
    width: 150px;
  }
  
  .coin img {
    height: 30px;
    width: 30px;
    margin-right: 10px;
  }
  
  .coin-symbol {
    text-transform: uppercase;
    font-family: montserrat;
    color:rgb(99, 99, 99);
  }
  
  .coin-data {
    display: flex;
    text-align: right;
    justify-content: space-between;

  }
  
  .coin-price {
    width: 110px;
  }
  

  .coin-percent {
    width: 100px;
  }
  
  .red {
    color: #f00606;
    font-weight: bold;
  }
  
  .green {
    color:  #09a609;
    font-weight: bold;
  }

  @media(max-width:1000px){
    .coin-container {
      font-size:0.9rem;
    }
    .coin { 
      display: flex;
      align-items: center;
      padding-right: 1rem;
    width: 12rem;
    }
    
    .coin h1 {
      font-size: 0.9rem;
    width: 5rem;
    }
    .coin-text {
      font-size: 25px;
      margin: 0.5rem;
  }
    
    .coin img {
      height: 30px;
      width: 30px;
      margin-right: 0.9rem;
    }
    
    .coin-symbol {
      padding-left: 0.9rem;
      font-size: 0.9rem;
    }
    
    .coin-data {
      display: flex;
      text-align: right;
      justify-content: space-between;
  width:9rem;
    }
    
    .coin-price {
      width: 4rem;
    }
    
  
    .coin-percent {
      width: 4rem;
    }
    .coin-input {
      width: 200px;
      height: 35px;
      margin: 0.5rem;
      font-size: 15px;
  }
}