@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:   montserrat;
 
}

.coin-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 64px;
  
  color: rgb(99, 99, 99);
}

.coin-search {
  background-color: #f1f1f1;
  margin-bottom:20px;
  padding:20px 70px;
  display: flex;
  flex-direction: row;
  align-content: stretch;
  flex-wrap: wrap;
  align-items: stretch;
}

.coin-text {
  font-family: montserrat;
    color:#5271ff;
    letter-spacing: 1px;
    font-size: 25px;
    margin: 0.5rem;
  text-align:left;
  
}

.coin-input {
  margin-left: 20px;
  width: 300px;
  height: 44px;
  border-radius: 5px;
  border: none;
  background-color: #fff;
  font-size:20px;
  text-align: center; 
  color: rgb(67, 66, 66);
}



.coin-input::placeholder {
  color: #e2e2e2;
}

@media only screen and (max-width: 850px) {
  .coin-input{
    width:200px;
    height:35px;
    font-size:15px ;
    margin-left: 20px;
    border-radius: 5px;
    border: none;
    background-color: #fff;
    font-size:20px;
    text-align: center; 
    color: rgb(67, 66, 66);
  }
  
  
  .coin-search{
    padding:auto;
  }
  .coin-text{
    font-size:25px;
  }
}