.group-item {
    margin:1rem 0.5rem;
    width:95%;
    
  }
  
  .group-item a {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    padding: 1rem;
    color: white;
    background: #292929;
  }
  
  .group-item__content {
    padding: 0.5rem;
  }
  
  .group-item__image {
    width: 10rem;
    height: 8rem;
    margin-right: 1rem;
    padding-left: 2rem;
  }
  
  .group-item__info h2 {
    font-size: 1.2rem;
    margin: 1rem 0.5rem 1rem 0;
    font-weight: normal;
    color: #130101;
    text-align: left;
    padding-left: 1rem;
  }
  
  .group-item__info h3 {
    margin: 0;
  }
  .detail_hr{
    margin:1rem 0rem;
    padding:0rem;
  }

  @media only screen and (min-width: 900px){
    .group_item{
      margin:2.5rem;
      width: calc(45% - 2rem);
    min-width: 17.5rem;
    }
    .group-item__info h2{
      font-size: 1.5rem;
    }
  }