.user-item {
  margin: 5rem;
  width: calc(45% - 2rem);
  min-width: 17.5rem;
}

.user-item a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  padding: 1rem;
  color: white;
  background: #b93131;
}

.user-item__content {
  padding: 1rem;
}

.user-item__image {
  width: 10rem;
  height: 8rem;
  margin:1rem 7rem;
  padding-left: 2rem;
}

.user-item__info h2 {
  font-size: 18px;
  margin: 0 0.5rem 0.5rem 0;
  color: rgb(62, 62, 62);
  text-align: left;
  padding-left: 25px;
}


.investment{
  font-size: 25px;
  margin-top: 15px;
  text-align: center;
  font-family: montserrat ;
  color: #57d9b2;
}

.investment_hr{
  margin: 10px;
}

@media(max-width:900px){
  .user-item__info h2 {
    font-size: 18px;
  margin: 0 0.5rem 0.5rem 0;
  color: rgb(62, 62, 62);
  text-align: left;
  padding-left: 25px;
}

.user-item__image {
  width: 11rem;
  height: 8rem;
  margin: 1rem;
  padding-left: 2rem;
}
}