

.image_div{
    background: #0a657e;
    font-family: 'PT Serif', serif;
      
  }
  
  .image_head {
      background: #ecdbe7 url(https://images.moneycontrol.com/static-mcnews/2021/07/stocks_sensex_nifty_stockmarket-5.jpg);
      background-size: 50% 200%;
      background-position: bottom;
      background-clip: text;
      -webkit-background-clip: text;
     
  font-family:'Courier New', Courier, monospace;
      font-size: 15vw;
      position: relative;
      text-align: left;
      margin: 1rem;
      line-height: 1.2;
  
      &::before {
          content:'Kylie Timpani';
          text-align: center;
          position: absolute;
          z-index: -1;
      }
  }
  @supports (-webkit-background-clip: text) or (background-clip: text) {
    .image_head {
      -webkit-background-clip: text;
              background-clip: text;
      color: transparent;
    }
  }
  
  .position{
      font-size: 5rem;
      text-align: right;
      margin:1rem 2rem;
      color: #f6d6b5;
      font-family: cursive;
    	
  }
      

  
  .overlay {
      bottom: 0;
      left:0;
      clip-path: polygon(50% 0, 0 100%, 100% 100%);
      width: 100%;
      height: 130%;
      background: #de8f87;
      position: absolute;
      mix-blend-mode: overlay;
      transform: rotate(180deg);
      
      &.offset {
          transform: rotate(0);
          bottom: 200%;
          z-index:-1;
      }
  }
  
  .inner {
      clip-path: polygon(50% 0, 0 100%, 100% 100%);
      width: 90%;
      height: 80%;
      background: #ce6f75;
      top: 50%; 
      position: relative;
      transform: translateY(-60%);
  }
  
  .inner2 {
      background: #cbc2a3;
      position: absolute;
      mix-blend-mode: overlay;
  }
  
  .inner3 {
      background: #cbc2a3;
      position: absolute;
      mix-blend-mode: overlay;
      bottom: 0;
      top: 100%;
  }
  
  
  @media (max-width: 768px){
      .image_head{
          text-align: center;
          font-size:4.5rem;
          margin:0rem;
      }
.position{
      margin: 0.5rem 1rem;
      font-size:1.5rem;
  }
  .inner{
      display: none;
  }
}
  

 
  
  