

.image_div{
    background: rgb(78, 86, 235);
    font-family: montserrat;
      
  }
  
  .image_head {
      background: #ecdbe7 ;
      background-size: 50% 200%;
      background-position: bottom;
      
      font-family: montserrat;
      font-size: 15vw;
      position: relative;
      text-align: left;
      margin: 1rem;
      line-height: 1.2;
  
      
  }
  @supports (-webkit-background-clip: text) or (background-clip: text) {
    .image_head {
      -webkit-background-clip: text;
              background-clip: text;
      color: transparent;
    }
  }
  
  .position{
      font-size: 5rem;
      text-align: right;
      margin:1rem 2rem;
      color: #f6d6b5;
      font-family: montserrat;
    	
  }
      

  
  .overlay {
      bottom: 0;
      left:0;
      clip-path: polygon(50% 0, 0 100%, 100% 100%);
      width: 100%;
      height: 130%;
      background: #de8f87;
      position: absolute;
      mix-blend-mode: overlay;
      transform: rotate(180deg);
      
      /*&.offset {
          transform: rotate(0);
          bottom: 200%;
          z-index:-1;
      }*/
  }
  
  
  
  
  
  @media (max-width: 768px){
      .image_head{
          text-align: center;
          font-size:4.5rem;
          margin:0rem;
      }
.position{
      margin: 0.5rem 1rem;
      font-size:1.5rem;
  }
  .inner{
      display: none;
  }
}
  

 
  
  