/* css for mobile view*/
.group-links {
    list-style: none;
    margin-top: 5rem;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .group-links li {
    margin: 3rem;
    font-size:1.8rem;
  }
  
  .group-links button {
    height:6rem;
    border-radius: 7px;
    cursor: pointer;
    border: 1px solid #ffffff;
    color: #ffffff;
    background: transparent;
    padding: 1rem;
    font: inherit;
  }
  
  .group-links button:focus {
    outline: none;
  }
  
  .group-links button:hover,
  .group-links button:active {
    background: #a32943;
    color: white;
  }
  /* css for desktop view*/
  @media (min-width: 700px) {
    .group-links {
      flex-direction: row;
    }
  
    .group-links li {
      margin: 10rem 1.5rem;
    }
  
    
  
    .group-links button {
      border: 1px solid white;
      color: white;
      height:5rem;
      font-size:2rem;
      background: transparent;
    }
    
    .group-links button:hover,
    .group-links button:active {
      background: #a32943;
      color: white;
    }
  }

  