/* css for mobile view*/
.group{
  
  margin:1rem 0.5rem;
  position:relative;
  border:1px white;
  border-radius:10px;
  background-color:white;
}



.group-links {
    list-style: none;
    margin-top: 3rem;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .group-links li {
    margin: 1.5rem;
    font-size:1.7rem;
  }
  
  .group-links button {
    height:6rem;
    border-radius: 7px;
    cursor: pointer;
    border: 1px solid #0a657e;
    color: #0a657e;
    background: transparent;
    padding: 1rem;
    font: inherit;
    font-weight: bolder;
  }
  
  .group-links button:focus {
    outline: none;
  }
  
  .group-links button:hover,
  .group-links button:active {
    background: #0a657e;
    color: white;
  }


  @media (max-width: 1000px) {
    .group-links li {
      
      font-size:1rem;
    }
  }
  /* css for desktop view*/
  @media (min-width: 1000px) {
    
    .group-links {
      flex-direction: row;
    }
  
    .group-links li {
      margin: 2rem 1.5rem;
    }
  
    
  
    .group-links button {
      border: 1px solid #0a657e;
      color: #0a657e;
      height:4.2rem;
      font-size:1.8rem;
      background: transparent;
    }
    
    .group-links button:hover,
    .group-links button:active {
      background: #0a657e;
      color: white;
    }
  }

  