.about_div{
    padding:1.5rem;
    margin:0rem;
    width:100%;
}
.about_content{
    font-size: 1.3rem;
    }
.about_div_ul{
    margin:1rem;
    font-size:1.3rem;
}

.about_pro{
    background-color: #fff1d333;
    border-radius: 10px;
    width:95%;
    padding:2rem;
    line-height: 1.5;
    border-width: 2px;
    border-color:#0a657e;
    margin:0.5rem auto 2rem auto;
}
.about_def{
    background-color: #fff1d333;
    border-radius: 10px;
    width:95%;
    padding:1rem;
    font-size:1.5rem;
    margin:1rem auto 2rem auto;
    line-height: 1.5;
}
.about_link{
    text-decoration: none;
    color:#0a657e;
    font-weight: bold;
}
.about_div_ul li{
    margin:0.8rem 0rem;
}
.about_stool_h1{
    color:#0a657e;
    text-align: center;
}
.conclusion{
    font-size:1.7rem;
    line-height: 1.5;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin:3rem;
    border-radius: 10px;
    padding:2rem;
    color:#0a657e;
    background-color: #fff1d333;
}
.mission li{
    text-align: center;
    list-style: none;
}
.faqs_header{
    text-align: center;
    color:#0a657e;
    font-size:5rem;
    margin:2rem;
}

.faqs{
    padding:6rem;
}
.faqs_h2{
    font-size:2rem;
    font-family: 'Courier New', Courier, monospace;
    margin:1rem;

}

.faqs_h3{
    font-weight: normal;
    font-size: 1.5rem;
    margin:0.5rem 1rem;
}

.about_img_div_outside{
    width:15rem;
    height: 20rem;
    margin:20px 4rem;
    padding: 10px;
    
  }

  .about_img_div {
    width:7rem;
    height: 7rem;
    border-radius: 50%;
    background-color: #f1f1f1;
    margin:auto;
    padding: auto;
    
  }
  .about_img_div_body{
    text-align: center;
    margin: 0.5rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.1rem;
  }

@media(max-width:1400px){
    .about_div{
        padding:auto;
        width:100%;
        
    }
    .about_img_div_outside{
        font-size:1rem;
        height: 22rem;
    margin:10px 1rem;
    
    }
    .about_img_div{
        font-size:1rem;
        
    }
    .about_img_div_body{
        font-size:1rem;

    }
}

@media(max-width:900px){
    .about_div{
        padding:auto;
        width:100%;
    }
    .about_pro{
      
        width:95%;
        padding:1.5rem;
        line-height: 1.5;
        font-size:1.2rem;
        margin:0.5rem auto 2rem auto;
    }

    .about_def{
        font-size:1.1rem;
    }
    .mission li{
        text-align: left;
    }

    
    .conclusion{
        font-size:1.3rem;
        line-height: 1.5;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        border-radius: 10px;
        padding:1.2rem;
        margin:1rem;
    }



    .faqs{
        width:95%;
        padding:2rem;
    }
    .faqs_header{
    
        font-size:3rem;
        margin:1rem;
    }

    .faqs_h2{
        font-size:1.3rem;
        margin:0.5rem;
    
    }
    
    .faqs_h3{
        font-size: 1rem;
        margin:0.5rem 0.5rem;
    }
    .about_img_div_outside{
        font-size:1rem;
        height: 18rem;
    margin:10px 1rem;
    
    }
}