.footer {
    background-color: #0a657e;
    width: 100%;
    text-align: left;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 4rem;
    margin-top: 5rem;
  }
  
  .footer .footer-left,
  .footer .footer-center,
  .footer .footer-right {
    display: inline-block;
    vertical-align: top;
  }
  
  
  /* footer left*/
  
  .footer .footer-left {
    width: 33%;
    padding-right: 1.2rem;
  }
  
  .footer .about {
    line-height: 20px;
    color: #ffffff;
    font-size: 0.9rem;
    font-weight: normal;
    margin: 0;
  }
  
 .footer_span {
    display: block;
    color: #ffffff;
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 1.2rem;
  }
  
  .footer .icons {
    margin-top: 1.5rem;
 
  }
  
  .footer .icons a {
    display: inline-block;
    width: 2.2rem;
    height: 2.2rem;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 0.4rem;
    margin-bottom: 5px;
  }
  
  
  /* footer center*/
  
  .footer .footer-center {
    width: 30%;
  }
  
  .footer_center_icon {
    background-color: #0a657e;
    color: #ffffff;
    font-size: 25px;
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
  }
  
  .footer .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
  }
  
  .footer_center_span {
      color: #ffffff;
    display: block;
    font-weight: normal;
    font-size: 1rem;
    line-height: 2;
  }
  
  .footer .footer-center p a {
    color: #0099ff;
    text-decoration: none;
  }
  
  
  /* footer right*/
  
  .footer .footer-right {
    width: 35%;
  }
  
 .company_header{
    color: #ffffff;
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
  }
  
 

  .logo{
      width:4.5rem;
      height:4.5rem;
      border-radius: 50%;
  }
  
  .footer .menu {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
  }
  
  .footer .menu a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
  }
  
  .footer .menu a:hover {
    color: #109aa1;
  }
  
  .footer .name {
    color: #b3c3ce;
    font-size: 1rem;
    font-weight: normal;
    margin-top: 1.5rem;
  }
  
  @media (max-width: 767px) {
    .footer {
      font-size: 0.9rem;
    }
    .footer .footer-left,
    .footer .footer-center,
    .footer .footer-right {
      display: block;
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
    }
    .footer .icons {
        text-align: center;
      }

      .footer_center_icon {
      margin-left: 0;
    }
  }